@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css");

.collapsible-container {
  width: 30rem;
  margin: 3rem;
  padding: 2rem;
  padding-bottom: 0;
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.collapsible-content {
  display: block;
  padding-top: 2rem;
  overflow: hidden;
  height: auto;
}

.collapsible-collapsed {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s ease 0s;
}

.collapsible-expanded {
  height: 16rem;
  transition: height 0.5s ease 0s;
}
